.main-nav {
    nav {
        background-color: #212121;     
        ul {
            list-style-type: none;
            li {
                display: inline-block;
                line-height: 3rem;
                padding-left: 1rem;
                padding-right: 1rem;
                margin-right: 0.5rem;
                cursor: pointer;
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    left: 50%;
                    right: 50%;
                    bottom: 0;
                    background: #fff;
                    height: 4px;
                    opacity: 0;
                    -webkit-transition-property: left, right, opacity;
                    transition-property: left, right, opacity;
                    -webkit-transition-duration: 0.4s;
                    transition-duration: 0.4s;
                    -webkit-transition-timing-function: ease-out;
                    transition-timing-function: ease-out;
                }

                &:hover {
                    &:before {
                        opacity: 1;
                        left: 0;
                        right: 0;
                    }
                }
            }
        }
    }
}