.pic-wrap { 
    position: relative;
    img {
            width: 100%;
            height: auto;
    }
    p {
        position: absolute;
        font-size: 3rem;
        color: #fff;
        margin: 0;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0.7rem;
        font-weight: 700;
        letter-spacing: 0.3rem;
    }
}